/*body{
    width:80%;
    margin:auto;
    border:red solid 2px;
    padding: 5%;
}*/
/*p{
    font:1.6rem Arial;
    color:red;
    width:50%;
    margin-top:1cm;
}*/
/*h2{
    background-color: red;
    color:white;
    font:2rem "Courier New";
}*/
/*img{
    width:50%;
    margin:auto;
}*/
/*#heading{
    font:3rem "Arial Black";
    font-weight:800;
}*/
/*.fact{
    background-color: yellow;
}*/
